/* footer {
    text-align: center;
    border: 1px solid white;
    color: black;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    background-color: rgb(155, 189, 107);
    margin-top: auto;
} */
footer{
    height: 100px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
}

.nav_bar {
    padding: 10px;
}

.pname {
    color: rgb(140, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.size{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(119, 116, 116);
    margin-bottom: 5px;
}

.price{
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    margin-bottom: 5px;
    font-weight: bold;
}

  
body {
    margin: 0%;
    padding: 0;
    background-color: rgb(233, 227, 227);

}

a {
    text-decoration: none;
    color: black;
}

a:hover img {
    transform: scale(1.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all .4s ease;
}

.title{
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(233, 227, 227);
    border: 1px solid white;
}

li {
    float: left;
    border-right:1px solid white;
}

li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    color: gray;
    line-height: 24px;
}


/* td{
    text-align: center;
} */

img {
    width:  100px;
    height: 150px;
    object-fit: cover;
}

*{
    box-sizing: border-box;
}

[class*="col-"] {
    width: 100%;
    float: left;
    text-align: center;
    padding: 10px;
}

@media screen and (min-width: 600px) {
.col-1 {width: 40%;}
.col-2 {width: 40%;}
.col-3 {width: 40%;}
.col-4 {width: 40%;}
.col-5 {width: 40%;}

}

@media screen and (min-width: 800px) {
.col-1 {width: 20%;}
.col-2 {width: 20%;}
.col-3 {width: 20%;}
.col-4 {width: 20%;}
.col-5 {width: 20%;}
}

.rate-area {
    float:left;
    border-style: none;
}

.rate-area:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rate-area:not(:checked) > label {
    float: right;
    width: .80em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 40px;
    line-height: 32px;
    color: lightgrey;
    margin-bottom: 10px !important;
}

.rate-area:not(:checked) > label:before {
    content: '★';
}

.rate-area > input:checked ~ label {
    color: #54c61f;
    text-shadow: none;
}

.rate-area:not(:checked) > label:hover,
.rate-area:not(:checked) > label:hover ~ label {
    color: #54c61f;
    
}

.rate-area > input:checked + label:hover,
.rate-area > input:checked + label:hover ~ label,
.rate-area > input:checked ~ label:hover,
.rate-area > input:checked ~ label:hover ~ label,
.rate-area > label:hover ~ input:checked ~ label {
    color: #54c61f;
    text-shadow: none;
    
}

.rate-area > label:active {
    position:relative;
    top:0px;
    left:0px; 
}
